#itemSelect #main-box {
    box-sizing: border-box;
}

#itemSelect #main-box * {
    box-sizing: border-box;
}

#itemSelect .autocomplete {
    /*the contain: must be positioned relative*/
    position: relative;
    display: inline-block;
}

#itemSelect input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#itemSelect input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

#itemSelect input[type=submit] {
    background-color: dodgerblue;
    color: #fff;
}

#itemSelect .autocomplete-items {
    position: absolute;

    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    height: 400px;
    overflow: auto;
}

#itemSelect .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-family: Arial;
}

#itemSelect .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

#itemSelect .autocomplete-active {
    background-color: dodgerblue !important;
}


#itemSelect #main-input {
    background-color: #FEC20F;
    margin: 5px;
    border-radius: 7px;
    color: white;
}